// Fonts
$PraimaryFontFamily: Roboto, sans-serif;
$SecondaryFontFamily: Gelasio, serif;
$LogoFonts: Ribeye, cursive;

//Colors
$MainColor: #FFFFFF;
$AccentColor:#C9453B;

// Text color
$MainTextColor: rgba(0, 0, 0, 0.6);
$SecondaryTextColor:rgba(0, 0, 0, 1);

//Background Color:
$SecondaryBgColor:#E5E5E5;
$HeroBgColor:rgba(0, 0, 0, 0.3);
$FooterBGColor:rgba(38, 148, 153, 0.04);



//Border Colors
$MainBorderColor:rgba(0, 0, 0, 0.1);


//Shadow
$Shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);