.form-subscription__input{
    width: 195px;
    height: 44px;
    border: 1px solid $MainBorderColor;
    border-radius: 5px;
    background-color: inherit;
          

   &::placeholder{
    color: $SecondaryTextColor;
    @include fonts (16px, 24px, 400, 00.06em);
}
}

.subscription__btn{
    width: 103px;
    height: 44px;
    background-color: $AccentColor;
    border: none;
    @include fonts (16px, 24px, 400, 00.06em);
    color: $MainColor;
    border-radius: 5px;
    

}