.header{
    display: flex;
    align-items: center;
    
}

.header-hero{
    background-color: $HeroBgColor;
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("/images/hero@1x.jpg");
         @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url("/images/hero@2x.jpg");

        }
        
}