.nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 270px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 30px;
        
        flex-wrap: wrap;
        flex-basis: 354px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 270px;
        gap: 50px;
    }

}


.nav__link{
    display: inline-flex;
    color: $MainColor;
@include fonts (14px, 21px, 500);
    padding-top: 15px;
    padding-bottom: 15px;

@media screen and (min-width: 768px) {
        @include fonts (18px, 27px, 500);
            padding-top: 47px;
            padding-bottom: 47px;
    }

    
}